<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
     <link rel="stylesheet" href="/css/more.css">
</head>
<body>
    <div class="nav">
        <div class="heading">
            <p>Welcome To Admin Panel</p>
        </div>
        {{>n}}
    </div>

    <h1 align="center" style="color: white;">SETTINGS</h1>
    <div class="main_div">
    <div class="form_div">
    <form action="/more" method="post">
    <div class="detail_div">

        <div class="page">    

            <label class="field field_v3">
            <input class="field__input" placeholder="e.g. iron man" name="cate" autocomplete="off" value="{{data.cate}}">
            <span class="field__label-wrap">
                <span class="field__label">Category: </span>
            </span>
            </label>

            <label class="field field_v3">
            <input class="field__input" placeholder="e.g. iron man" name="language" autocomplete="off" value="{{data.language}}">
            <span class="field__label-wrap">
                <span class="field__label">Language: </span>
            </span>
            </label>

            <div class="b">
                <button type="submit">Upload</button>
            </div>
        </div>
        </div>
    </form>

    </div>

    </div>
</body>
</html>