<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/upload_pics.css">
</head>
<body>
          <div class="nav">
        <div class="heading">
            <p>Welcome To Admin Panel</p>
        </div>
        {{>n}}
    </div>
       <div class="main">
       <div class="title">
           <h1>UPLOAD POSTER</h1>
       </div>
       <div class="sub_main">
        <div class="para">
          <h1>PRECUATIONS</h1>
           <p>choose 1 picture that will be a poster.<br><br><strong>Thanks</strong></strong></p>
        </div>
        <div class="form_div">
          <p>Choose pic</p>
         <form action="/upload_pics/{{id}}" method="post" enctype="multipart/form-data" class="form">
         <input type="file" name="file" multiple="multiple" accept="image/*"/>
         <div class="b">
          <button type="submit">Upload</button>
         </div>
         </form>
        </div>

       </div>
     </div>
</body>
</html>