<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/user.css">
    <style>
    </style>
</head>
<body>
        <div class="nav">
        <div class="heading">
            <p>Welcome To Admin Panel</p>
        </div>
        {{>n}}
    </div>
        <div class="search">
            <div class="main_form">
                <form action="/search/user" method="GET"> 
                    <input type="search" name="search" id="search" placeholder="search user by user id" autocomplete="off">
                    <select id="category" name="type" class="type">
                        <option value="id" class="val">ID</option>
                        <option value="name" class="val" selected="selected">NAME</option>
                    </select>
                    <button type="submit">Search</button>
                </form>
            </div>
    </div>
        <p class="h">USER DATABASE</p>
        <table border="2" cellspacing="4">
    
            <tr>
                <td align="center"><b>ID</b></td>
                <td align="center"><b>NAME</b></td>
                <td align="center"><b>LOGIN EMAIL</b></td>
                <td align="center"><b>SAVED VIDEOS</b></td>
            </tr>
        
        {{#each data}}
            <tr>
                <td align="center">{{this._id}}</td>
                <td align="center">{{this.name}}</td>
                <td align="center"><span style="text-transform: none;">{{this.email}}</span></td>
                <td align="center">{{this.saved.length}}</td>
            </tr><br>
        {{/each}}
    </table>

    
</body>
</html>