*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgb(10, 10, 10);
}
.cards{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    max-height: auto;
    background-color:  rgb(10, 10, 10);
}
.h{
    background-color:  rgb(10, 10, 10);
    color: white;
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.card{
    box-shadow: 1px 1px 5px 1px white;
    background-color: rgb(10, 10, 10);
    cursor: pointer;
    transition: all .3s;
    margin: 1% 2%;
    color: white;
}
.card:hover{
    box-shadow: 1px 1px 5px 1px white;
    background-color:  rgb(95, 95, 95);
}
.card:active{
    box-shadow: 1px 1px 3px 1px #3466fc;
}
.user_id>p{
    font-size: 110%;
    margin: auto 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.more{
    display: flex;
    padding: .5% 2%;
    width: 80vw;
}
.more>img{
    width: 100px;
    height: 110px;
}
.more>p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
    position: relative;
    top: 20px;
}
.head{
    border-bottom: .5px solid white;
    display: flex;
}
.h_det{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
}
.det{
    display: flex;
}
.poster{
    flex: .30;
    height: 20vh;
    padding: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster>img{
    width: 70%;
    height: 100%;
}
.detail{
    border-left: 1px solid white;
    flex: .60;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 3%;
    padding-left: 2%;
}