*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgb(10, 10, 10);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #3466fc;
}
.heading{
    margin: auto 5%;
}
.heading>p{
    color: white;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.search{
    padding: .3%;
    background-color: white;
    margin-top: 1%;
    border: .2px solid;
}
.main{
    width: 100%;
    height: auto;
}
.sub_main{
    width: 100%;
    height: auto;
}
.head{
    display: flex;
    border-bottom: .5px solid;
    margin: 1%;
}
.head>img{
    flex: .30;
    width: 250px;
    height: 250px;
    margin: 1%;
}
.head>p{
    font-size: 120%;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    flex: .7 0;
    padding-top: 10%;
    margin: 1%;
}
.details{
    margin: 1%;
}
.details>p{
    padding: 3px 50px;
    font-size: 110%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.det{
    font-weight: normal;
    text-align: justify;
}
.imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.imgs>img{
    width: 200px;
    height: 200px;
    word-wrap: break-word;
    margin: 5px;
    outline: 1px solid black;
}
.comments{
    margin: 5% auto;
}
.comments>h1{
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
}
.comments>p{
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-transform: capitalize;
    margin: 1% 1.5%;
    border: 1px solid grey;
    border-radius: 0 8px 8px 8px;
    padding: .5% 1%;
    color: lightgrey;
}
.comm{
    font-weight: normal;
    border: 1px solid red;
    width: auto;
    color: white;
}
hr{
    margin: auto 5%;
}
.det{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    border: 2px solid white;
}
.p{
    border-right: 1px solid white;
    flex: .60;
    color: lightgrey;
}
.title{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    margin: 1% .5%;
}
.des{
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
    margin: 1% .5%;
    color: lightgrey;
}
.more{
    flex: .40;
    height: auto;
}
.poster{
    height: 250px;
    margin-bottom: 5px;
    padding: .2%;
}
.poster>img{
    width: 100%;
    height: 100%;
}
table{
    border: 2px solid white;
    width: 98%;
    color: lightgrey;
    height: auto;
    margin-bottom: 1%;
    margin: auto 1%;
}
tr{
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 1rem;
}
td{
    text-transform: capitalize;
    white-space: nowrap;
    font-size: 1.1rem;
}